.gc_login_error {
    color: red;
}
.badge-danger {
  background-color: #d9534f !important;
  color: #fff !important;
}
.badge-success {
  background-color: #5cb85c !important;
  color: #fff !important;
}